[Desktop Entry]
Version=1.0
Type=Application
Name=Ng'anjo Welcome
GenericName=Welcome Screen
Comment=Welcome to Ng'anjo OS
Exec=gnome-terminal --title='Welcome to Ng'\''anjo OS' -- bash -c 'nganjo-welcome; exec bash'
Icon=nganjo-welcome
Terminal=false
Categories=System;
StartupNotify=true
Keywords=welcome;nganjo;live;
