# Ng'anjo OS — GRUB Boot Configuration
# Creator: Nehemiah Ng'anjo

set default=0
set timeout=5
set timeout_style=menu

if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=auto
    insmod all_video
    insmod gfxterm
    insmod png
    terminal_output gfxterm
fi

set color_normal=light-cyan/black
set color_highlight=white/cyan
set menu_color_normal=light-cyan/black
set menu_color_highlight=white/cyan

menuentry "Ng'anjo OS 1.0 Lite" --class nganjo --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    insmod gzio
    insmod part_gpt
    insmod iso9660
    search --no-floppy --label --set=root NGANJO_OS
    linux  /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=NGANJO_OS quiet loglevel=3 systemd.show_status=false udev.log-priority=3 vt.global_cursor_default=0 nowatchdog nmi_watchdog=0 splash
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Ng'anjo OS — VM / VirtualBox / QEMU" --class nganjo {
    set gfxpayload=keep
    insmod gzio
    insmod part_gpt
    insmod iso9660
    search --no-floppy --label --set=root NGANJO_OS
    linux  /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=NGANJO_OS archisodevice=/dev/sr0 nomodeset console=tty0 loglevel=3
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Ng'anjo OS — Fallback" --class nganjo {
    set gfxpayload=keep
    insmod gzio
    insmod part_gpt
    insmod iso9660
    search --no-floppy --label --set=root NGANJO_OS
    linux  /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=NGANJO_OS loglevel=5
    initrd /arch/boot/x86_64/initramfs-linux-fallback.img
}

menuentry "Memory Test (memtest86+)" --class memtest86 {
    insmod memtest86
    linux16 /boot/memtest86+/memtest.bin
}

menuentry "UEFI Firmware Settings" --class uefi {
    fwsetup
}
