[Desktop Entry]
Version=1.0
Type=Application
Name=Install Ng'anjo OS
GenericName=OS Installer
Comment=Install Ng'anjo OS to your disk
Exec=nganjo-installer
Icon=nganjo-installer
Terminal=false
Categories=System;
StartupNotify=true
Keywords=install;disk;setup;nganjo;
