[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Open a terminal window
Exec=gnome-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
